*{
    margin: 0;
    padding: 0;
}
html {font-family: "Arial";}

.container{
    margin: 0 auto;
    width: 1280px;
    background-color: tomato;    
}

.header{
    height: 323px; /*10%;*/
    background-color: #4a5262;
    position: relative;
        
}
.product {
    width: 590px;
    height: 273px;
    padding: 50px 0 0 50px;
}

.product_name{
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    line-height: 1.2;    
}

ul {
    list-style-image: url(../img/galka.png);
    padding-left: 35px;
}

.spisok {
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    line-height: 1.8;
}

.video{
    width: 590px;
    height: 273px;
    background-color: red;
}





/*----------------------------------------------*/
.about{
   /* width: 1280px; /*1280*/
    height: 346px; /*11%; /*346*/
    background-color: #ffffff;
}
.pluses{
    height: 418px;
    background-color: #f4f4f4;
}

.screenshot {
    height: 488px;
    background-color: #ffffff;
}

.reviews {
    height: 424px;
    background-color: #f5f5f5;
}

.buy {
    height: 656px;
    background-color: #ffffff;
}

.contacts {
    height: 508px;
    background-color: #4a5262;
}

input, textarea {
    color: blue;
    font-size: 20px;
    border-radius: 5px;
}

textarea {
    
    height: 200px;
    resize: none;
}


.footer{
    /*width: 1280px;*/
    height: 27px;
    background-color: #f5f5f5;
}

.footer p{
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    color: #495261;
}

