*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 1280px;
    /*height: 500px;*/
    background-color: tomato;
    /*position: relative;*/
    
}

.header{
    /*margin: 0 auto;*/
    /*width: 1280px;*/
    height: 323px; /*10%;*/
    background-color: blue;
        
}

.about{
   /* width: 1280px; /*1280*/
    height: 346px; /*11%; /*346*/
    background-color: chartreuse;
}
.pluses{
    height: 418px;
    background-color: beige;
}

.screenshot {
    height: 488px;
    background-color: chocolate;
}



.footer{
    /*width: 1280px;*/
    height: 27px;
    background-color: #f5f5f5;
}

.footer p{
    font-family: "Arial";
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    color: #495261;
}

.product_name{
    font-family: "Arial";
    font-size: 60px;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    line-height: 1.2;
}

li {
    font-family: "Arial";
    font-size: 20px;
    color: #ffffff;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    line-height: 1.8;
}

.contact{
    
}