/*.Copyright_©_2014_Product_name_·_PSD_HTML_CSS {
  font-size: 12px;
  font-family: "Arial";
  color: rgb(73, 82, 97);
  line-height: 2;
  text-align: left;
  position: absolute;
  left: 497px;
  top: 3186.874px;
  z-index: 3;

Copyright © 2014 Product name · PSD HTML CSS
}*/
.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 13;
}
.check_icon {
  background-image: url("check icon.png");
  position: absolute;
  left: 50px;
  top: 249px;
  width: 25px;
  height: 19px;
  z-index: 12;
}
.check_icon {
  background-image: url("check icon.png");
  position: absolute;
  left: 50px;
  top: 213px;
  width: 25px;
  height: 19px;
  z-index: 11;
}
.check_icon {
  background-image: url("check icon.png");
  position: absolute;
  left: 50px;
  top: 177px;
  width: 25px;
  height: 19px;
  z-index: 10;
}
.check_icon {
  background-image: url("check icon.png");
  position: absolute;
  left: 51px;
  top: 143px;
  width: 25px;
  height: 19px;
  z-index: 9;
}
.Put_on_this_page_information_about_your_product {
  font-size: 20px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.8;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 86.11px;
  top: 170.837px;
  z-index: 8;
}
.Product_name {
  font-size: 18.241px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-transform: matrix( 3.28931925746839,0,0,3.28931925746839,0,0);
  -webkit-transform: matrix( 3.28931925746839,0,0,3.28931925746839,0,0);
  -ms-transform: matrix( 3.28931925746839,0,0,3.28931925746839,0,0);
  position: absolute;
  left: 177.293px;
  top: 61.555px;
  z-index: 7;
}
.Shape_9 {
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 761px;
  top: 50px;
  width: 469px;
  height: 214px;
  z-index: 6;
}
.header_bg {
  background-image: url("header-bg.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 323px;
  z-index: 5;
}
/*-------------------------------*/

.contacts {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 204;
}
.social_buttons {
  font-size: 60px;
  font-family: "Socialico";
  color: rgb(255, 255, 255);
  line-height: 0.4;
  text-align: left;
  position: absolute;
  left: 788.937px;
  top: 2978.718px;
  z-index: 203;
}
.phone {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 202;
}
._80_00_4568_55_55 {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 821px;
  top: 2889px;
  z-index: 201;
}
.phone_icon {
  background-image: url("phone icon.png");
  position: absolute;
  left: 795px;
  top: 2889px;
  width: 24px;
  height: 23px;
  z-index: 200;
}
.email {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 198;
}
.psdhtmlcss_mail_ru {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 820px;
  top: 2868.27px;
  z-index: 197;
}
.email_icon {
  background-image: url("email icon.png");
  position: absolute;
  left: 795px;
  top: 2846px;
  width: 22px;
  height: 22px;
  z-index: 196;
}
.icq {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 194;
}
._279679659 {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 824px;
  top: 2803px;
  z-index: 193;
}
.icq_icon {
  background-image: url("icq icon.png");
  position: absolute;
  left: 795px;
  top: 2801px;
  width: 26px;
  height: 26px;
  z-index: 192;
}
.skype {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 190;
}
.here_your_login_skype {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 823px;
  top: 2783.27px;
  z-index: 189;
}
.skype_icon {
  background-image: url("skype icon.png");
  position: absolute;
  left: 795px;
  top: 2757px;
  width: 24px;
  height: 26px;
  z-index: 188;
}
.form {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 186;
}
.send {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 185;
}
.Send {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(73, 82, 97);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 476px;
  top: 3079px;
  z-index: 184;
}
.Shape_8 {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 429px;
  top: 3071px;
  width: 140px;
  height: 40px;
  z-index: 183;
}
.message {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 181;
}
.Your_message: {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(73, 82, 97);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 259px;
  top: 2911.27px;
  z-index: 180;
}
.Shape_6 {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 249px;
  top: 2880px;
  width: 500px;
  height: 170px;
  z-index: 179;
}
.email {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 177;
}
.Your_email: {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(73, 82, 97);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 259px;
  top: 2826px;
  z-index: 176;
}
.Shape_4 {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 249px;
  top: 2818px;
  width: 500px;
  height: 40px;
  z-index: 175;
}
.name {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 173;
}
.Your_name: {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(73, 82, 97);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 259px;
  top: 2765px;
  z-index: 172;
}
.Shape_4 {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 249px;
  top: 2757px;
  width: 500px;
  height: 40px;
  z-index: 171;
}
.Contacts {
  font-size: 30px;
  font-family: "Arial";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 581px;
  top: 2697px;
  z-index: 168;
}
.bg {
  background-image: url("bg.png");
  position: absolute;
  left: 0px;
  top: 2651px;
  width: 1280px;
  height: 509px; 16% #495161
  z-index: 167;
}

/*-----------------------------*/

.about {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1280px;
  height: 3186px;
  z-index: 20;
}
.video {
  background-color: rgb(74, 82, 97);
  position: absolute;
  left: 800px;
  top: 373px;
  width: 430px;
  height: 245px;
  z-index: 19;
}
.About_your_product {
  font-size: 30px;
  font-family: "Arial";
  color: rgb(74, 82, 97);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 50.095px;
  top: 401.255px;
  z-index: 18;
}
.Pariatur_iure_ab_sunt_nesciunt__quibusdam_odio_ {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(54, 54, 54);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 50px;
  top: 535.269px;
  width: 653px;
  height: 60px;
  z-index: 17;
}
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisi {
  font-size: 16px;
  font-family: "Arial";
  color: rgb(54, 54, 54);
  line-height: 1.5;
  text-align: left;
  position: absolute;
  left: 49px;
  top: 452.269px;
  width: 649px;
  height: 63px;
  z-index: 16;
}
.bg {
  background-image: url("bg.png");
  position: absolute;
  left: 0px;
  top: 323px;
  width: 1280px;
  height: 2863px;
  z-index: 15;
}


